.header-product {
    margin-bottom: 50px;
}

.container-content {
    padding: 35px;
}

.style-photo {
    width: 325px;
}

.secondary-photo {
    width: 25vw;
    display: flex;
}

.heder-content {
    display: flex;
    margin-bottom: 30px;
}

.price-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-price {
    font-size: 30px;
    text-align: right;
    margin-bottom: 30px;
}

.block-none {
    display: none;
}