.style-photo {
    width: 400px;
}

.secondary-photo {
    width: 25vw;
    display: flex;
}

.heder-content {
    display: flex;
}

.price-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-price {
    font-size: 30px;
    text-align: right;
    margin-bottom: 30px;
}