/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-size: 14px;
  font-family: Arial, "Helvetica, sans-serif";
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.form {
  max-width: 700px;
  margin: 0px auto;
  color: black;
  padding: 30px 0;
}

.form__body {
  border: 1px solid;
  position: relative;
  padding: 30px !important;
  border-radius: 20px;
}

/*.form__body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 65, 65, 0.473) url("/файлы сайтов/Kipaso/файлы и код для редактирования/тестовый код/img/cat-what.gif") center / 500px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}*/

.form__body._sending::after{
  opacity: 1;
  visibility: visible;
}

.form__title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0px 30px 0px;
}

.form__item {
  margin: 0px 0px 20px 0px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.form__input._error {
  box-shadow: 0 0 7px red;
}

textarea.form__input {
  min-height: 100px;
}



.options__item {
  margin-bottom: 18px;
}

.options__label {
  font-size: 18px;
  letter-spacing: 1px;
}

.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 7px red;
}


.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #7a966b;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 3px 0 #161b13;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #4f6146;
}

.form__button:active {
  top: 3px;
  box-shadow: 0 1px 0 #161b13;
}