.header-product {
    margin-bottom: 50px;
}

.container-content {
    max-width: 1350px;
    margin: 0 auto;
    font: 15px/24px"Open Sans",Arial,sans-serif;
    padding: 35px;
}

.block-secondary-photo {
    display: flex;
    margin-bottom: 50px;
}

.header-content {
    /*display: flex;*/
    margin-bottom: 30px;
}

.block-photo-info {
    display: flex;
}

.logo-oven {
    width: 100px;
}

.price-left {
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}

.container-price {
    font-size: 30px;
    text-align: right;
    margin-bottom: 30px;
}

.block-none {
    display: none;
}

.wrapper-price_block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc9c9;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.hero-photo {
    width: 470px;
}

.wrapper-link-photo {
    margin-right: 30px;
}

.photos__img {
    width: 100px;
}

.secondary-photo {
    width: 7vw;
}

.block-photo {
    display: flex;
    justify-content: space-between;
}

.photo-oven {
    margin-right: 20%;
}


.product_photo {
    display: flex;
    flex-direction: column;
}

.modification-name {
    margin-bottom: 20px;
}

.wrapper-modification_block {
    max-height: 400px;
    overflow: auto;
}

.wrapper-list-modification {
    display: flex;
    flex-wrap: wrap;
}

.list-modification {
    color: #FFF;
    background: #00aed9;
    margin: 6px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 13px;
}

.table-base {
    width: 100%;
}

.table-base__wrapper {
    margin-bottom: 60px;
}
h3 {
    font-size: 1.6em;
    line-height: 24px;
    margin: 40px 0 26px;
}

.style-header {
    padding-top: 20px; 
    padding-left: 15px;
}

.wrapper-block-header {
    height: 60px;
    background: #ededed;
    margin-bottom: 35px;
}

.table-base td {
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #343536;
    vertical-align: top;
}

.collapse-toggle {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.panel-heading {
    padding: 10px 0px;
}

.doc-icon {
    width: 40px;
}

.wrapper-block-img-doc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc9c9;
    padding-bottom: 15px;
}

.link-doc {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.block-img-doc {
    margin-right: 15px;
}

.title-price {
    margin-bottom: 40px;
}

.block-price {
    width: 50%;
}

.documentation {
    margin-bottom: 70px;
}

.certificates {
    margin-bottom: 70px;
}

.po {
    margin-bottom: 70px;
}

.wrapper-block-img-doc:last-child  {
    margin-bottom: 0px;
}

.wrapper-price_block:last-child  {
    margin-bottom: 0px;
}

.cta-product {
    width: 60%;
    background: #ededed;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cta-product-left {
    display: flex;
    align-items: center;
}

.artboard_30 {
    width: 45px;
    height: 45px;
    fill: #54686f;
    margin-right: 25px;
}

.cta-product-btn {
    border: 0;
    border-radius: 4px;
    background-color: #018e86;
    color: #fff;
    padding: 5px 30px;
    transition: 0.3s all;
    margin-top: 15px;
}

.block-hero-photo {
    margin-right: 40px;
}

.para-comment {
    display: none;
}